@import "../../_globalColor";

.greet-main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 2rem;
}

.greeting-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.greeting-main > * {
  flex: 1;
  margin-bottom: 30px;
}

.greeting-text-div {
  margin-right: 40px;
}

.greeting-text {
  font-size: 70px;
  line-height: 1.1;
  margin-bottom: 20px;
  font-weight: bold;
  font-family: "Google Sans Bold", "Montserrat", sans-serif;
}

.greeting-text-p {
  font-size: 28px;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.button-greeting-div {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.greeting-image-div > * {
  max-width: 100%;
  height: auto;
}

/* Dark Mode */
.dark-mode {
  .greeting-text {
    color: $textColorDark;
  }
  
  .greeting-text-p {
    color: $textColorDark;
  }
}

/* Media Query */
@media (max-width: 1380px) {
  .greeting-text {
    font-size: 50px;
  }
  .greeting-text-p {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .greeting-text {
    font-size: 40px;
    text-align: center;
    margin-top: 0;
  }

  .greeting-text-p {
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    line-height: 1.5;
  }

  .greeting-text-div {
    margin-right: 0;
  }

  .greeting-main {
    display: block;
  }

  .button-greeting-div {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .greeting-text {
    font-size: 35px;
  }
  
  .greeting-text-p {
    font-size: 18px;
  }
}
